<div id="page-wrapper">
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">
          Employee-Master
          <small>see details</small>
        </h3>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i> Employee
          </li>
        </ol>
      </div>
      <div class="col-lg-12">
        <!--<st-add-employee-component [employee]="selectedEmployee"-->
                                   <!--(onEmployeeModified)="onEmployeeSelect($event);"></st-add-employee-component>-->
        <!--<st-list-employee-component (onEmployeeItemSelected)="onEmployeeSelect($event);"></st-list-employee-component>-->
      </div>
    </div>
  </div>
</div>
